
footer{
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 250px;
    color: #ffff;
    margin-top: 80px;
    padding: 0 32px;
}

.footer-left img{
    width: 120px;
    cursor: pointer;
}

.footer-left p{
    width: 640px; 
}

.footer-right p{
    width: 1280px; 
}

.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    border-right: 1px solid grey;
}

.footer-right{

    padding-left: 20px;
}